{% extends "capstone/layout.html" %}
{% load static %}

{% block body %}

{% if search %}
  <h2 style="text-align: center;">You searched for "<b style="font-size: larger;">{{ search }}</b>"</h2>
  <br>
  <br>
{% endif %}
{% for destination in destinations %}

<div class="card mb-3" style="max-width: 1500px;">
    <div class="row g-0">
      <div class="col-md-4">
        <a class="link-dark" href="{%url 'place' destination.id %}"><img src="{{destination.urlPic}}" class="img-fluid rounded-start" alt="..."></a>
      </div>
      <div class="col-md-8">
        <div class="card-body">
            <a class="link-dark" href="{%url 'place' destination.id %}"><h3 class="card-title">{{destination.place}}</h3></a>
          <p class="card-text">{{destination.description}}</p>
          <p class="card-text"><small class="text-muted"><a href="{% url 'travel' %}" class="link-secondary">Visit {{destination.place}}</a></small></p>
        </div>
      </div>
    </div>
  </div>

{% endfor %}

{% endblock %}

{% block script %}
    <script src="{% static 'capstone/main.js' %}"></script>
{% endblock %}